:root {
  // Colors
  --dark-blue: #0b0d17;
  --light-blue: hsl(231, 77%, 90%);
  --white: #ffffff;
  --dark-grey: #979797;

  //   Font
  --Bellefair: "Bellefair", serif;
  --Barlow: "Barlow Condensed", sans-serif;
}
